@model SteadyMedClient.Models.PhysicianViewModel;

<div id="physician_panel">
    <div id="physician_search_form">
        <form>
            <input id="search_box" type="text" name="search_text" />
            <input id="search_button" type="button" value="Search" />
        </form>
    </div>
    <div id="patient_info">
        <table>

            @foreach (var patient in Model.patients)
            {
                <tr><td>@patient.ID</td><td>@patient.Name</td></tr>
            }
        </table>
    </div>
</div>
<div id="debug_panel">
    <h3 id="debug_result"></h3>
</div>
   